.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: whitesmoke;
}

body
{
    background-size: cover;
}

.div_song_name
{
    float:center;
}

canvas{
    border: 5px solid  whitesmoke;
    border-radius: 20px;
}
